html, body {
	margin: 0 auto;
	padding: 0;
	background:#777;
	color:#999;
	text-align: center;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}

header,nav,footer {
	height: 80px;
	line-height: 80px;
	margin: 10px auto;
	background: #ebebeb;
}

section,aside {
	height: 310px;
	padding-top: 20px;
	
}


section {
	float: left;
	background: #EBEBEB;
	width: 495px;
}

aside {
	float: right;
	background:#EBEBEB;
	width: 445px;
}

article {
	background: #777;
	color: #EBEBEB;
	height: 210px;
	width: 475px;
	margin: 35px auto 0 auto;
	padding-top: 5px;
}

.rapper {
	height: 310px;
  margin: 20px 0;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

.art-sub {
	background: #EBEBEB;
  color: #777;
  margin: 10px auto;
  width: 430px;
  height: 60px;
  line-height: 60px;
}